

.links {
  /* background-color: rgba(0, 0, 51  , 0.33); */
  border-radius: 5px;
  margin: 10px;
  /* width: 60%; */
  padding: 10px;
  /* position: fixed; */
  align-items: center;

}

.links span {
  padding: 0 10px;
}

.center{
  display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}
/* .links img {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
.links img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

span .vault{
  filter: invert(1);
} */


.links img:hover {
  /* filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%); */
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
}
